extends layout.pug

block content
  div(class="container")
    div(class="header")
      h3(class="text-muted" align=center) Alexa MusicMan Artist and Venue corrections
    div(id="signupSuccess", class="alert alert-success", style="display:none")
      p(id="signupSuccessText") Thanks for providing your MusicMan parm value helper.
    div(id="signupDuplicate", class="alert alert-success", style="display:none")
      p(id="signupDuplicateText") Thanks, looks like someone has submitted that correction already.
    div(id="signupError", class="alert alert-info", style="display:none")
      p(id="signupErrorText") Well this is embarrassing. It looks like we're having trouble updating the list.
    div(class="jumbotron")
      h2 Alexa MusicMan - Parm fixer
      p(class="lead") Thanks for providing input to help MusicMan better identify the Artist or Venue youre looking for.
      p
      a(class="btn btn-lg btn-success", data-toggle="modal", href="#signupModal") Provide your update
    
    div(class="footer" align=center)
      p &copy; 2016 Rod Ellison - Alexa MusicMan Parm Fixer
      
    // Modal
    div(class="modal fade", id="signupModal", tabindex="-1", role="dialog", aria-labelledby="signupModal", aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4(class="modal-title") Provide your updates here.
          div(class="modal-body")
            form(id="signupForm", role="form")
              input(type="hidden", id="THEME", name="THEME", value="slate")
              div(class="form-group")
                label(for="InvalidData") Artist or Venue that was not found correctly
                input(type="text", class="form-control", id="InvalidData", name="InvalidData", placeholder="Your input")
              div(class="form-group")
                label(for="ValidData") What should the Artist or Venue be to find it correctly?
                input(type="text", class="form-control", id="ValidData", name="ValidData", placeholder="Your input")
          div(class="modal-footer")
            button(id="signup", type="button", class="btn btn-primary") Submit correction
            
    script(src="https://s3.amazonaws.com/content.musicman/static/jquery/jquery.js")
    script(src="https://s3.amazonaws.com/content.musicman/static/bootstrap/js/bootstrap.min.js")

  script.
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/latest/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 400:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
