doctype default
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        title=appTitle

        //Bootstrap core CSS. If no theme is passed in, we'll default to the theme called 'flatly'.
        //Note, since we're hosting in AWS Lambda + API Gateway, static resources should really be served from Cloudfront CDN, or S3

    - var setTheme = THEME
        if setTheme
            link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/theme/" + setTheme + "/bootstrap.css", rel="stylesheet")
        else
            link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/theme/flatly/bootstrap.css", rel="stylesheet")
            //Custom styles for this template
        link(href="https://s3.amazonaws.com/content.musicman/static/bootstrap/css/jumbotron-narrow.css", rel="stylesheet")
    body
        block content
        block footer

